<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        html {
            height: 100%;
            /* font-size: 62.5%; */
            /* font-size: 100%; */
            font-size: calc(100vw / 800 * 6);
        }

        body {
            margin: 0;
            word-wrap: break-word;
            overflow-wrap: break-word;
            height: 100%;

            position: relative;
            font-feature-settings: "palt";
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: normal;
            font-variant: normal;

            speak: none;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .inline-block {
            letter-spacing: -.40em;
        }

        .inline-block li {
            display: inline-block;
            width: 70px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }

    </style>
    <script src="bower_components/vue/dist/vue.js"></script>
</head>
<body>

<div class="container" >

    <div class="row" style="margin:3rem 0;">
        <div class="col-12 text-center">
            <ul class="inline-block" style="font-size:8rem;font-weight:900;">
                <li style="color:green">G</li>
                <li style="color:red">o</li>
                <li style="color:blue">o</li>
                <li style="color:yellow">g</li>
                <li style="color:cyan">o</li>
                <li style="color:violet">l</li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin:3rem auto;">
        <div class="col-12 text-center">
            <div class="input-group mb-3" id="query">
                <input class="form-control" type="text" v-model="query_string" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" v-on:click="query">Find</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div id="list">
                <ul class="list-group">
                    <page-item v-for="item in items" v-bind:page="item" v-bind:key="item.url"></page-item>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

	"use strict";

	Vue.component('page-item', {
		props: ['page'],
		template: '<a target=”_blank” :href="page.url" class="list-group-item list-group-item-action">' +
			'<div class="d-flex w-100 justify-content-between">' +
			'<h5 class="mb-1">{{ page.url }}</h5>' +
			'<small>3 days ago</small>' +
			'</div>' +
			'<h2 class="mb-1">{{ page.title }}</h2>' +
			'<p class="mb-1">{{ page.description }}</p>' +
			'</a>'
	});

	var list = new Vue({
		el: '#list',
		data: {items: []}
	});

	var query = new Vue({
		el: '#query',
		data: {query_string: ''},
		methods: {
			query: function () {
				const query_object = {content:{$regex:this.query_string}};
                const query_string = JSON.stringify(query_object);
				const escaped_query_string = encodeURIComponent(query_string);
				fetch('http://localhost:3000/query/' + escaped_query_string)
					.then(response => {
						return response.json();
					}).then(res => {
					    list.items = res;
				}).catch(function (error) {
					console.log(error);
				})
			}
		}
	});

</script>

</body>
</html>
